.pagination > li > a {
  color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: #a60f2d;
}

.pagination > .active > a {
  color: white;
  background-color: #a60f2d !important;
  border: solid 1px #a60f2d !important;
}

.pagination > .active > a:hover {
  background-color: #a60f2d !important;
  border: solid 1px #a60f2d;
}

.nav-link {
  color: white;
  border: solid 1px #4d4d4d !important;
}

.nav-link:hover {
  color: white;
  background-color: #4d4d4d !important;
  border: solid 1px #4d4d4d !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #a60f2d !important;
  border: solid 1px #a60f2d !important;
}

.nav-tabs {
  border-bottom: #a60f2d solid;
  cursor: pointer;
}

a {
  color: #a60f2d;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  display: inline-block;
  text-decoration: underline;
}
